library/D2LWS/wsdl/users-v1_0.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.desire2learn.com/services/ums/xsd/users-v1_0"
			xmlns:common="http://www.desire2learn.com/services/common/xsd/common-v1_0"
			xmlns:users="http://www.desire2learn.com/services/ums/xsd/users-v1_0"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			elementFormDefault="qualified">

	<xsd:import namespace="http://www.desire2learn.com/services/common/xsd/common-v1_0" schemaLocation="common-v1_0.xsd"/>

	<!-- Validation types -->
	<xsd:simpleType name="UserNameType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="256"/>
			<xsd:whiteSpace value="collapse"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="PasswordType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="32"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="UserInfoPrivacy20Type">
		<xsd:simpleContent>
			<xsd:extension base="common:String20Type">
				<xsd:attribute name="NotAuthorized" type="xsd:boolean" default="false" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="UserInfoPrivacy50Type">
		<xsd:simpleContent>
			<xsd:extension base="common:String50Type">
				<xsd:attribute name="NotAuthorized" type="xsd:boolean" default="false" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="UserInfoPrivacyUsernameType">
		<xsd:simpleContent>
			<xsd:extension base="users:UserNameType">
				<xsd:attribute name="NotAuthorized" type="xsd:boolean" default="false" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- Data Types -->
	<xsd:complexType name="UserInfo">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="UserId" type="common:Identifier" wsdl:required="true" />
			<xsd:element minOccurs="1" maxOccurs="1" name="UserName" type="users:UserInfoPrivacyUsernameType" />
			<xsd:element minOccurs="0" maxOccurs="1" name="OrgDefinedId" type="users:UserInfoPrivacy50Type" />
			<xsd:element minOccurs="1" maxOccurs="1" name="FirstName" type="users:UserInfoPrivacy20Type" />
			<xsd:element minOccurs="1" maxOccurs="1" name="LastName" type="users:UserInfoPrivacy20Type" />
			<xsd:element minOccurs="0" maxOccurs="1" name="Addresses" type="users:ArrayOfAddressInfo" />
			<xsd:element minOccurs="0" maxOccurs="1" name="FormsOfContact" type="users:ArrayOfFormOfContactInfo" />
			<xsd:element minOccurs="0" maxOccurs="1" name="Demographics" type="users:DemographicsInfo" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AddressInfo">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="Name" type="common:String50Type" />
			<xsd:element minOccurs="1" maxOccurs="1" name="Line1" type="common:String196Type" />
			<xsd:element minOccurs="0" maxOccurs="1" name="Line2" type="common:String50Type" />
			<xsd:element minOccurs="0" maxOccurs="1" name="City" type="common:String50Type" />
			<xsd:element minOccurs="0" maxOccurs="1" name="ProvinceState" type="common:String50Type" />
			<xsd:element minOccurs="0" maxOccurs="1" name="PostalZipCode" type="common:String50Type" />
			<xsd:element minOccurs="0" maxOccurs="1" name="Country" type="common:String50Type" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ArrayOfAddressInfo">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="AddressInfo" nillable="true" type="users:AddressInfo" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="FormOfContactInfoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="None" />
			<xsd:enumeration value="Phone" />
			<xsd:enumeration value="Email" />
			<!-- reserved for future releases
      <xsd:enumeration value="Url" />
			<xsd:enumeration value="IM" />
			<xsd:enumeration value="Custom" />-->
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="FormOfContactInfo">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="Type" type="users:FormOfContactInfoType" />
			<xsd:element minOccurs="1" maxOccurs="1" name="Name" type="common:String50Type" />
			<xsd:element minOccurs="1" maxOccurs="1" name="Value" type="common:String50Type" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ArrayOfFormOfContactInfo">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="FormOfContactInfo" nillable="true" type="users:FormOfContactInfo" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DemographicsInfo">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="BirthDate" nillable="true" type="xsd:dateTime" />
			<xsd:element minOccurs="1" maxOccurs="1" name="Gender" type="users:GenderInfoType" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="GenderInfoType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Unknown" />
			<xsd:enumeration value="Male" />
			<xsd:enumeration value="Female" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="RoleInfo">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="RoleId" type="common:Identifier" />
			<xsd:element minOccurs="1" maxOccurs="1" name="Name" type="common:String20Type" />
			<xsd:element minOccurs="1" maxOccurs="1" name="Code" type="common:String50Type" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ArrayOfRoleInfo">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="RoleInfo" nillable="true" type="users:RoleInfo" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OrgUnitEnrollmentInfo">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="UserId" type="common:Identifier" />
			<xsd:element minOccurs="1" maxOccurs="1" name="OrgUnitId" type="common:Identifier" />
			<xsd:element minOccurs="1" maxOccurs="1" name="RoleId" type="common:Identifier" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ArrayOfOrgUnitEnrollmentInfo">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="OrgUnitEnrollmentInfo" nillable="true" type="users:OrgUnitEnrollmentInfo" />
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
